extends layout

block content
  include ../views/header.pug

  main

    h1= title
    p I'm into numbers, and the intent of this app is to showcase some cool things about them, using both information and examples.
    p In general, the layout will be in two columns: information on the left, and a somewhat wider area on the right to actually demonstrate what the particular section is about.

  include ../views/footer.pug

