block content
  nav <a href="/">Home</a> | <a href="/math/denom">Denominator</a> | <a href="/math/dc">Decimal Calculator</a> | <a href="/math/phi">Phi Powers</a> | <a href="/math/mastermind">Mastermind</a>
