/*
  styles for math pages. not enough to split them up.
*/

:root {
  --numeric-input-width: 50px;
}

fieldset {
  border: none;
  background-color:#eee;
  border-radius: 5px;
  margin: 10px 0;
}

/* denominator input */
.denom-input label {
  margin-right: 5px;
}

.denom-input input {
  width: var(--numeric-input-width);
}

.denom-input button {
  margin-left: 5px;
}

/* denominator display */
.center {
  text-align: center;
}

.period span:nth-child(1) {
  color: #666;
}

.period span:nth-child(2) {
  color: #f90;
}

.period span:nth-child(3) {
  color: #09f;
}

/* phi powers input */
.phi-input label {
  margin-right: 5px;
}

.phi-input input {
  width: var(--numeric-input-width);
}

.phi-input button {
  margin-left: 5px;
}

