@import "./layout.css";
@import "./math.css";
@import "./mastermind.css";

a {
  color: #00B7FF;
}

table {
  width: 100%;
}

.num-table {
  border-collapse: collapse;
}

.num-table td {
  border-bottom: 1px solid #ccc;
  line-height: 1.75em;
}

